/*Aula 03 - CSS para pagína de receita
 Tópicos principais:
 
 1- Estilos Globais
 2- Container de receita
 3- Títulos e seções
 4- Listas Fléxiveis
 5- Tabelas Responsivas
 6- Media Query


*/


/*Estilos Globais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfcf0 ;
    padding: 15px;
    color: #4a3728;
}

/*Container de Receita*/
.recipe-container{
    background: #ffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/*Títulos e Seções*/

h1{
    text-align: center; /*Título centralizado*/
    color: #d35400;
    font-size: 1.5rem;
}

h2{
    margin: 25px;
}

/*Lista Flexíveis*/

.flex-list{
    display: flex; /*Ativa o modelo flexbox para esse elemento*/
    flex-direction: column; /*Alinha a direção dos itens (coluna) */
    gap: 10px; /*Espaçamento entre itens*/
    list-style: none; /*Estilização da lista, removendo o marcador da lista*/
}

/*Estilo de cada item da lista*/
.flex-list li{
    background: #fff3e0;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}

/*Seções */

.info{
    overflow-x: auto; /*Permite um scroll automatico da tela para o lado*/
}

table {
    width: 100%; /*Ocupar a largura total disponível*/
    min-width: 300px; /*Ocupará o minímo de largura */
    border-collapse: collapse; /*Remover o espaço entre as bordas da
    células (vem de padrão)*/
    margin-top: 20px; /*Espaçamento acima da tabela*/
}

th, td {
    padding: 10px; /*Espaçamento interno*/
    font-size: 0.9rem; /*Tamanho da fonte em mobile*/
    border-bottom: 1px solid #eee; /*Linha divisória entre as células*/

}

/*Media Query: Tablet e Desktop*/

@media (min-width: 768px) {
    .recipe-container{
        max-width: 800px; /*Máximo de largura*/
        margin: 0 auto; /*Justificou o ao redor para centralizar horizontalmente*/
        padding: 40px;
    }

    h1{
        font-size: 2.2rem; /*Tamanho do Título*/
    }

    .flex-list {
        flex-direction: row; /*Deixando a direção em linhas*/
        justify-content: center; /*Centralizou horizontalmente os ingredientes*/
        
    }

    .flex-list li{
        padding: 10px 20px;
        border-radius: 50px;
    }

    th, td{
        padding: 15px;
        font-size: 1rem;
    }
    
}


